/*estilos de las pantallas grandes*/
@media(min-width: 992px) {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
.row {
    display: flex;
    flex-wrap: wrap;
}
.col-lg-1 {
    width: 8%;
    background: brown;
}
.col-lg-2 {
    width: 16%;
    background: green;
}
.col-lg-3 {
    width: 24.5%;
    background: greenyellow;
}
.col-lg-4 {
    width: 32%;
    background: pink;
}
.col-lg-5 {
    width: 41%;
    background: violet;
}
.col-lg-6 {
    width: 49.5%;
    background: blue;
}
.col-lg-7 {
    width: 58%;
    background: grey;
}
.col-lg-8 {
    width: 66%;
    background: red;
}
.col-lg-9 {
    width: 75.5%;
    background: orange;
}
.col-lg-10 {
    width: 83%;
    background: orangered;
}
.col-lg-11 {
    width: 91%;
    background: cadetblue;
}
.col-lg-12 {
    width: 99.5%;
    background: chocolate;
}
.border {
    border: solid 1px grey;
    padding: 20px;
    margin: 2px;
}
}
/*estilos de las pantallas medianas*/
@media(min-width: 768px) and (max-width: 991px) {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
.row {
    display: flex;
    flex-wrap: wrap;
}
.col-md-1 {
    width: 8%;
    background: brown;
}
.col-md-2 {
    width: 16%;
    background: green;
}
.col-md-3 {
    width: 24.5%;
    background: greenyellow;
}
.col-md-4 {
    width: 33%;
    background: pink;
}
.col-md-5 {
    width: 41%;
    background: violet;
}
.col-md-6 {
    width: 49.5%;
    background: blue;
}
.col-md-7 {
    width: 58%;
    background: grey;
}
.col-md-8 {
    width: 66%;
    background: red;
}
.col-md-9 {
    width: 74.5%;
    background: orange;
}
.col-md-10 {
    width: 83%;
    background: orangered;
}
.col-md-11 {
    width: 91%;
    background: cadetblue;
}
.col-md-12 {
    width: 99.5%;
    background: chocolate;
}
.border {
    margin: 2px;
    border: solid 1px grey;
    padding: 20px;
}
}
/*estilos de las pantallas pequeñas*/
@media(min-width: 576px) and (max-width: 768px) {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
.col-pq-1 {
    width: 8%;
    background: brown;
}
.col-pq-2 {
    width: 16%;
    background: green;
}
.col-pq-3 {
    width: 24.5%;
    background: greenyellow;
}
.col-pq-4 {
    width: 32%;
    background: pink;
}
.col-pq-5 {
    width: 41%;
    background: violet;
}
.col-pq-6 {
    width: 49.5%;
    background: blue;
}
.col-pq-7 {
    width: 58%;
    background: grey;
}
.col-pq-8 {
    width: 66%;
    background: red;
}
.col-pq-9 {
    width: 74.5%;
    background: orange;
}
.col-pq-10 {
    width: 83%;
    background: orangered;
}
.col-pq-11 {
    width: 91%;
    background: cadetblue;
}
.col-pq-12 {
    width: 100%;
    background: chocolate;
}
.border {
    margin: 2px;
    border: solid 1px grey;
    padding: 25px;
}
}
/*stilos de las pantallas mas pequeñas*/
@media(max-width: 576px)  {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
.col-mpq-1 {
    width: 8%;
    background: brown;
}
.col-mpq-2 {
    width: 16%;
    background: green;
}
.col-mpq-3 {
    width: 24.5%;
    background: greenyellow;
}
.col-mpq-4 {
    width: 32%;
    background: pink;
}
.col-mpq-5 {
    width: 41%;
    background: violet;
}
.col-mpq-6 {
    width: 49.5%;
    background: blue;
}
.col-mpq-7 {
    width: 58%;
    background: grey;
}
.col-mpq-8 {
    width: 66%;
    background: red;
}
.col-mpq-9 {
    width: 74.5%;
    background: orange;
}
.col-mpq-10 {
    width: 83%;
    background: orangered;
}
.col-mpq-11 {
    width: 91%;
    background: cadetblue;
}
.col-mpq-12 {
    width: 100%;
    background: chocolate;
}
.border {
    margin: 2px;
    border: solid 1px grey;
    padding: 25px;
}
}